In [10]:
# Imports iniciales
import pandas as pd
import os as os
import matplotlib.pyplot as plt

In [24]:
#read the file 
# Carga del archivo

# Voy a grabajar primero con la yuca fresca

dataYucaFresca_Peso = pd.read_csv(os.getcwd() + '/raw/exportacionYucaFresca_peso.csv', delimiter=';', encoding='utf-8')
dataYucaFresca_Valor = pd.read_csv(os.getcwd() + '/raw/exportacionYucaFresca_valor.csv', delimiter=';', encoding='utf-8')

In [12]:
dataYuca_Peso.head

<bound method NDFrame.head of       DestinosExportacion Peso_Anno2019 Peso_Anno2020 Peso_Anno2021
0         Estados Unidos      43.737,2      52.822,5      48.256,9   \
1                Holanda      10.131,5      12.387,9      17.115,5
2                Francia       1.085,7       1.625,4       1.482,9
3                 España       6.681,3      10.687,9       7.860,5
4                 Canadá       1.408,0       1.622,8       2.449,4
5      Reino Unido-No UE            NaN      1.695,1       2.479,5
6                Bélgica       4.281,5       2.438,3       2.501,4
7            Puerto Rico       1.654,7       1.854,7       1.742,2
8               Portugal       3.230,6       4.112,6       2.760,6
9                 México          19,0          19,1         144,1
10              Colombia            NaN         16,5         125,9
11             Guadalupe         343,9          97,5          53,8
12                 Túnez            NaN          6,6          61,1
13             Australia            NaN           NaN           NaN
14             Martinica          83,0          56,6          35,1
15                Egipto            NaN           NaN           NaN
16             Guatemala           4,0           7,4          16,0
17                 Aruba          78,1          42,1          34,8
18              Honduras           1,7           5,9          18,5
19            San Martín            NaN         10,5          30,9
20                Panamá           4,5            NaN          2,8
21               Turquía            NaN          4,9          47,4
22                Italia         168,5         109,9         186,9
23               Ecuador          83,6            NaN           NaN
24                 Malta            NaN           NaN           NaN
25             Hong Kong           0,0            NaN           NaN
26             Argentina          59,1          92,3           2,2
27                 Rusia           2,2            NaN           NaN
28         Corea del Sur          20,7            NaN           NaN
29                Taiwán           6,1            NaN           NaN
30               Ucrania            NaN          6,9            NaN
31                 China           0,1            NaN           NaN
32        Reino Unido-UE       1.909,5            NaN           NaN
33  República Dominicana          34,9          16,4            NaN
34              Alemania          72,6           0,2            NaN
35         Total general      75.102,3      89.739,9      87.408,6

   Peso_Anno2022 Peso_Anno2023 Valor_CAGR_1923
0      45.360,0      52.766,0               5%
1      16.646,7      20.848,7              20%
2       3.450,2       4.854,1              45%
3       3.109,6       4.684,4              -8%
4       2.404,4       3.204,5              23%
5       1.745,6       2.015,7        No aplica
6       1.470,1       1.082,7             -29%
7       1.222,3       1.061,4             -11%
8         344,8         208,0             -50%
9          44,5          95,1              50%
10        120,6          70,8        No aplica
11         63,3          69,7             -33%
12          4,2          69,6        No aplica
13           NaN         45,3        No aplica
14         88,3          44,0             -15%
15           NaN         30,3        No aplica
16          8,3          28,5              63%
17         30,4          22,8             -26%
18         15,9          21,1              87%
19         17,6           5,2        No aplica
20          0,9           4,2              -2%
21          2,5           3,8        No aplica
22         59,1           1,1             -71%
23           NaN           NaN           -100%
24          -              NaN       No aplica
25           NaN           NaN           -100%
26           NaN           NaN           -100%
27           NaN           NaN           -100%
28           NaN           NaN           -100%
29           NaN           NaN           -100%
30           NaN           NaN       No aplica
31           NaN           NaN           -100%
32           NaN           NaN           -100%
33           NaN           NaN           -100%
34           NaN           NaN           -100%
35     76.209,4      91.237,1               5%  >

In [23]:
# Datos de yuca por Peso
dataYuca_Peso.describe()

,DestinosExportacion,Peso_Anno2019,Peso_Anno2020,Peso_Anno2021,Peso_Anno2022,Peso_Anno2023,Valor_CAGR_1923
count,36,27,25,23,23,24,36
unique,36,27,25,23,23,24,18
top,Estados Unidos,"43.737,2","52.822,5","48.256,9","45.360,0","52.766,0",-100%
freq,1,1,1,1,1,1,10

In [14]:
dataYuca_Valor.describe()

,DestinosExportacion,Valor_Anno2019,Valor_Anno2020,Valor_Anno2021,Valor_Anno2022,Valor_Anno2023,Valor_CAGR_1923
count,36,36,36,36,36,36,36
unique,36,12,11,11,12,11,19
top,Estados Unidos,"0,0","0,0","0,0","0,0","0,0",-100%
freq,1,20,23,23,23,22,10

In [22]:
dataYucaFresca = dataYuca_Peso.merge(dataYuca_Valor, on='DestinosExportacion')
dataYucaFresca.head()

## No está funcionando

Empty DataFrame
Columns: [DestinosExportacion, Peso_Anno2019, Peso_Anno2020, Peso_Anno2021, Peso_Anno2022, Peso_Anno2023, Valor_CAGR_1923_x, Valor_Anno2019, Valor_Anno2020, Valor_Anno2021, Valor_Anno2022, Valor_Anno2023, Valor_CAGR_1923_y]
Index: []

In [17]:
dataYucaFresca.describe()

,DestinosExportacion,Peso_Anno2019,Peso_Anno2020,Peso_Anno2021,Peso_Anno2022,Peso_Anno2023,Valor_CAGR_1923_x,Valor_Anno2019,Valor_Anno2020,Valor_Anno2021,Valor_Anno2022,Valor_Anno2023,Valor_CAGR_1923_y
count,0,0,0,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
dataYucaFresca.hist(figsize=(20,20))
plt.show()

ValueError: hist method requires numerical or datetime columns, nothing to plot.